demo/src/main/resources/api/schemas/Request-Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="PurchaseOrder">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchaseOrderNumber" type="xs:unsignedInt" />
              <xs:element name="OrderDate">
              	<xs:simpleType>
        			<xs:restriction base="xs:string">
            			<xs:pattern value="\d{2}[-]\d{2}[-]\d{4}"></xs:pattern>
            			<xs:length value="10"/>
        			</xs:restriction>
        		</xs:simpleType>
    		  </xs:element>
              <xs:element maxOccurs="unbounded" name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Street" type="xs:string" />
                    <xs:element name="City" type="xs:string" />
                    <xs:element name="State" type="xs:string" />
                    <xs:element name="Zip" type="xs:unsignedInt" />
                    <xs:element name="Country" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="DeliveryNotes" type="xs:string" />
              <xs:element name="Items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ProductName" type="xs:string" />
                          <xs:element name="Quantity" type="xs:unsignedByte" />
                          <xs:element name="USPrice" type="xs:decimal" />
                          <xs:element minOccurs="0" name="ShipDate">
                          	<xs:simpleType>
        						<xs:restriction base="xs:string">
            						<xs:pattern value="\d{2}[-]\d{2}[-]\d{4}"></xs:pattern>
            						<xs:length value="10"/>
        						</xs:restriction>
        					</xs:simpleType>
    					  </xs:element>
                          <xs:element minOccurs="0" name="Comment" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="PartNumber" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>